/* STYLE SECTIONING TAGS */
*{
  margin: 0%;
  padding: 0%;
}

main {
  margin-top: 0;
  margin-botton: 0;
  margin-left: 5%;
  margin-right: 5%;
}

/* STYLE TEXT */
h1 {
  color: #IC1F22;
  font-family: Georgia;
  margin: 15px;
}

h3 {
  color: #9998EC;
  font-family: Georgia;
  margin-top: 10px;
}

h6 {
  color: #IC1F22;
  margin: 5px;
}

p {
  color: #IC1F22;
}

body {
  text-align: center;
}

.long {
  color: #75434C;
}

/* STYLE IMAGES */
img {
  max-width: 70%;
  border-radius: 5%;
  margin-top: 5px;
  margin-bottom: 15px;
}

#prof {
  border-radius: 100%;
}

/* STYLE NAV BAR */
ul {
  list-style-type: none;
  background-color: #565676;
  overflow: hidden;
  padding: 1em;
}

li {
  display: inline;
}

li a{
  text-decoration: none;
  color: #FEFAE0;
  padding: 0.5em;
}

li a:hover{
  background-color: #9998EC;
  padding: 1em;
}
